<script src="//assets.adobedtm.com/b5cbd1a1220e/ae2371aab563/launch-8ae1125d5939.min.js" async></script>

<div data-sly-unwrap data-sly-use.version="com.adobe.aem.demo.utils.models.VersionMetadata">
    <meta name="demo-utils-version" content="${version.utilsVersion @ context='attribute'}" />
    <meta name="aem-type" content="${version.aemType @ context='attribute'}" />
    <meta name="aem-full-version" content="${version.fullVersion @ context='attribute'}" />
    <meta name="aem-major-version" content="${version.majorVersion @ context='attribute'}" />
    <meta name="aem-minor-version" content="${version.minorVersion @ context='attribute'}" />
    <meta name="aem-micro-version" content="${version.microVersion @ context='attribute'}" />
    <meta name="aem-date-version" content="${version.yearMonthDayVersion @ context='attribute'}" />
    <meta name="aem-qualifier-version" content="${version.qualifierVersion @ context='attribute'}" />
</div>