scripts=["

    set ACL on /content/dam,/content/cq:tags,/home,/conf
        allow jcr:read for workfront-service
    end

    set ACL on /content/dam
        allow rep:write for workfront-service
    end

    create path /conf/global-workfront(sling:Folder)
    create path /conf/global-workfront/settings(sling:Folder)
    create path /conf/global-workfront/settings/dam(cq:Page)
    create path /conf/global-workfront/settings/dam/adminui-extension(sling:Folder)
    create path /conf/global-workfront/settings/dam/adminui-extension/workfront-property-mapper(sling:Folder)
"]